.container
  float left

#map_canvas
  float right
  width 750px
  height 800px

.file_upload
  position relative
  overflow hidden
  font-size 1em
  height 30px
  width 200px
  line-height 2em
  & > button
    float right
    width 8em
    height 100%
  & > div
    padding-left 1em
  input[type=file]
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    transform scale(20)
    letter-spacing 10em
    -ms-transform scale(20)
    opacity 0
    cursor pointer

@media only screen and ( max-width: 500px )
  .file_upload
    & > div
      display none
    & > button
      width 100%