body
    header.mdl-layout__header.navbar
        div.mdl-layout__header-row
            nav.mdl-navigation
                img(src="Maplick-logo-2.png")#logo
                a(href='#').mdl-navigation__link.file_upload Upload

    ui.mdl-menu.mdl-menu--bottom-left.mdl-js-menu.mdl-js-ripple-effect(for="menu-left")
        li.mdl-menu__item Upload image
    aside.container
        aside.maplick-bar
            div.maplick-mainform.animated-mainform
                img(src="Maplick-logo-2.png")#logo
                +download
            div.founded-img.animated-founded-img

        aside#map_canvas