template(name='task')
    li(class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}")
        button.delete &times;

        input(type="checkbox", checked="{{checked}}", class="toggle-checked")

        +if isOwner
            button.toggle-private
                +if private
                    |Private
                +else
                    |Public
        span.text
            strong #{username}
            |#{text}